.body-content {
    margin-top: 72px;
}

td, th {
    padding: 10px;
}

th {
    text-align: center;
}

td {
    vertical-align: top;
}

tr:nth-child(odd) {
    background-color: #e4e4e4;
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}

table.job-listing {
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    width: 80%;
}

table.job-listing td:first-child {
    font-family: sans-serif;
    font-variant: small-caps;
    }

table.job-listing td:last-child {
    font-family: Georgia, serif;
    font-weight: bold;
    letter-spacing: .15rem;
    width: 80%;

}

label {
    margin-right: 15px;
}

.centered {
    text-align: center;
}